<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createaccount</servlet-name>
        <servlet-class>createaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>logincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showbookings</servlet-name>
        <servlet-class>showbookings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createaccount</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showbookings</servlet-name>
        <url-pattern>/showbookings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
